<!--<div>
    <app-login></app-login>
</div>-->

<nav class =" nav navbar-expand-sm bg-light ">
    <div class=" container-fluid">
      <ul class ="navbar-nav">
        <li class="nav-item">
          <a routerLink="LoginPage" class="nav-link" routerLinkActive="Active">
          Dealer
          </a>
        </li>
        <li class="nav-item">
        <a routerLink="LoginPage" class="nav-link" routerLinkActive="Active">
          Customer
        </a>
        </li>
        
      </ul>
    </div>
  
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  