.background
{
	background:url(/assets/images/blueBackground.jfif);
	height: 370vh;
	background-size: cover;
	background-position: center;
}
#log{
	border: 2px solid white;
	padding: 20px;
	margin-top: 10px;
    
}
img{
	width: 200px;
	height: 200px;
}
h1{
	color: black;
	text-align: center;
	font-weight: bolder;
	margin-top: -20px;
}
h4{
	font-size:20px
}
label{
	font-size:20px;
	color: black;
}
.row
{
	padding-top: 5px;
}

#para
{
	color: black;

}
.alert
{
	margin: 10px;
	padding: 2px;
}
.form-group{
	padding: 2px;
}